---
title: Open-source software from the Mansbach Lab
layout: default
group: software
---

<h1>Software Packages</h1>
<div class="container-fluid">

{% for package in site.software reversed %}
  <hr>
  <div class="row" style="padding-top: 60px; margin-top: -60px;" id="{{publication.pmid}}">
  <div style="font-size: 120% !important; width: 100%">{{ publication.title | markdownify }}</div>
  <div>{{ software.authors | markdownify | remove: '<p>' | remove: '</p>' }}
  {{software.pub_date | split: "-" | first }}.</div>

  </div>
  <div class="row" style="padding-top: 20px; margin-top: - 20px;">
  	<div class="col-sm-6">
  		<img class = "img-fluid" src = "{{software.image}}" alt = "Key Figure" style="max-height: 200px;">
  	</div>
  	<ul class="col-sm-6">
  			<strong>Access the paper</strong>
  			<!--PMID-->
  			{% if software.pmid %}
  			<li>PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{publication.pmid}}" alt = "pubmed link: {{publication.pmid}}"> {{publication.pmid}}</a></li>
  			{% endif %}

  			<!--PMCID - optional -->
  			{% if software.pmcid %}
  			<li>PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{publication.pmcid}}" alt = "pubmed central link: {{publication.pmcid}}"> {{publication.pmcid}}</a></li>
  			{% endif %}

  			<!--Biorxiv - optional -->
  			{% if software.biorxiv %}
  			<li>Biorxiv Preprint: <a href="http://dx.doi.org/10.1101/{{publication.biorxiv}}" alt = "biorxiv preprint link: {{publication.biorxiv}}"> {{publication.biorxiv | split: "." | last }}</a></li>
  			{% endif %}

  			<!--Arxiv - optional -->
  			{% if software.arxiv %}
  			<li>arXiv Preprint: <a href="https://arxiv.org/abs/{{publication.arxiv}}" alt = "arxiv preprint link: {{publication.arxiv}}"> {{publication.arxiv}}</a></li>
  			{% endif %}

  			<!--Chemrxiv - optional -->
  			{% if software.chemrxiv %}
  			<li>ChemRxiv Preprint: <a href=" https://doi.org/10.26434/chemrxiv.{{publication.chemrxiv}}" alt = "chemrxiv preprint link: {{publication.chemrxiv}}"> {{publication.chemrxiv}}</a></li>
  			{% endif %}


  			<!-- SBGrid Datasets - optional -->
  			{% if software.data %}
  			<li>Online Dataset{% if software.data.size > 1 %}s{% endif %}:
  				{% if software.data.size > 1 %}
  				<ul>
  					{% for dataset in software.data %}
  					<li><a href="http://dx.doi.org/{{dataset}}" alt = "sbgrid data repository">doi:{{dataset}}</a></li>
  					{% endfor %}
  				</ul>
  				{% else %}
  				<a href="http://dx.doi.org/{{software.data}}" alt = "sbgrid data repository">doi:{{software.data}}</a>
  				{% endif %}
  			</li>
  			{% endif %}

  			<!--zenodo records - optional-->
  			{% if software.zenodo %}
  			<li>Zenodo Record{% if software.zenodo.size > 1 %}s{% endif %}:
  				{% for record in software.zenodo %}
  				<a href="https://www.zenodo.org/record/{{record.code}}/">{{record.code}}</a>{% if record.description %} ({{record.description}}){% endif %}{% unless forloop.last %}, {% endunless %}
  				{% endfor %}
  			</li>
  {% endif %}

                          <!--Github - optional-->
  {% if software.github %}
  <li>{% if software.github.size > 1 %}GitHub Repositories:{%else%}GitHub Repository:{% endif %}
  {% for record in software.github %}
  <a href="https://www.github.com/{{record.url}}/">{{record.url}}</a>{% if record.description %} ({{record.description}}){% endif %}{% unless forloop.last %}, {% endunless %}
  				{% endfor %}
  			</li>
  			{% endif %}

                                <!--Github release - optional-->
  {% if software.release %}
  <li>{% if software.release.size > 1 %}GitHub Repositories:{%else%}Releases:{% endif %}
  {% for record in software.release %}
  <a href="https://www.github.com/{{record.url}}/">{{record.url}}</a>{% if record.description %} ({{record.description}}){% endif %}{% unless forloop.last %}, {% endunless %}
  				{% endfor %}
  			</li>
  			{% endif %}

  <!--additional links - optional-->
  {% if publication.links %}
  <br>
  			<strong>Additional Link{% if software.links.size > 1 %}s{% endif %}</strong>
  				{% for link in software.links %}
          <li><a href="{{link.url}}" alt="{{link.name}}">{{link.name}}</a></li>
          {% endfor %}
  			{% endif %}
  	</ul>
  </div>
  <br>
  {% endfor %}
  </div>
